
h1{
    text-align: left;
    font-weight: bold;
    color: white;
}

.diagram {
    text-align: center;
    background-color: rgb(104, 103, 103);
    width: 90%;
    height: 80%;
    padding: 5%;
    border-radius: 20px;
}
.box rect:hover ,.box circle:hover{
    stroke: black;
}
